<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sui10.suishi">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".SuishiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_s10_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_s10_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/SuishiAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="label">

        <activity
            android:name=".module.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|layoutDirection|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/SuishiThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sui10" />
            </intent-filter>
        </activity>

        <activity android:name=".module.login.ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/login"
            android:theme="@style/SuishiAppTheme.BaseUI.NoTitle.IMMersive">
        </activity>

        <activity android:name=".module.main.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/SuishiAppTheme.BaseUI.NoTitle.IMMersive" >
        </activity>


        <activity android:name=".common.ui.widget.FragContainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SuishiAppTheme.BaseUI.NoTitle"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity android:name=".module.course.ui.ProfessionalCourseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SuishiAppTheme.BaseUI.FloatTop"
            android:label="">
        </activity>

        <activity
            android:name="com.sui10.commonlib.webview.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/SuishiAppTheme.BaseUI.FloatTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微信登陆 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!-- ******************qq login*******************-->
        <!-- 9.0以上的版本会有崩溃，需要加这个命令 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1234567" />
            </intent-filter>
        </activity>
        <!-- ******************qq login*******************-->
    </application>

</manifest>